<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8" />
  <title>Register</title>
  <style>
   article, aside, details, figcaption, figure, footer,header,
   hgroup, menu, nav, section { display: block; }
  </style>
 </head>
 <body>
   <a href="/">go to login page</a><br>
   <form method="post"> 
   <p>Login</p>
   <input name="login" type="text" id="login" method="post" placeholder="write here your login"><br>
   <p>Password</p>
   <input name="password_1" type="password" id="password_1" method="post"><br>
   <p>Repeat password</p>
   <input name="password_2" type="password" id="password_2" method="post"><br>
  <input type="Submit" value="Log in">
   </form> 
 </body>
</html>

